---
import Layout from '../layouts/Base.astro';
---
<Layout>
  <button id="login">Login</button>
  <button id="logout">Logout</button>

  <script>
    const { signIn, signOut } = await import("auth-astro/client")
    const loginButton = document.querySelector("#login");
    if (loginButton) {
        loginButton.addEventListener("click", async () => {
        const result = await signIn("github");
        if (result && result.ok) {
        window.location.href = "/docs";
  }
});
    }
    const logoutButton = document.querySelector("#logout");
    if (logoutButton) {
      logoutButton.addEventListener("click", () => signOut());
    }
  </script>
</Layout>